//node.scss
.add-node {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bfbfbf;
  color: white;
  text-align: center;
  line-height: 30px;
  position: absolute;
  .dom-icon {
    font-size: 20px;
  }
}
.handelDom {
  .review {
    color: #eebe77;
    background-color: #292218;
  }
  .send {
    color: #79bbff;
    background-color: #18222c;
  }
  .judge {
    color: #95d475;
    background-color: #1c2518;
  }
  .review,
  .send,
  .judge {
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0;
    padding: 2px;
    border-radius: 2px;
  }
}

.w-icon-user,
.w-icon-link,
.w-icon-asterisk {
  font-size: 16px;
  padding: 4px 5px;
}
