//node.scss
.end-node {
  position: absolute;
  width: 240px;
  height: 80px;
  .end-node-head {
    position: relative;
    top: 40px;
    left: 115px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #BFBFBF;
  }
  .end-node-bottom {
    position: relative;
    width: 70px;
    top: 40px;
    left: 90px;
    color: #666666;
    font-size: 14px;
  }
}
