.judgeNodeMain{
  display: flex;
  justify-content:center;
  align-items:center;
  .judgeNodeMain-container{
    background-color:white;
    color: #3296fa;
    padding: 1px 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    .judgeNodeMain-title{
      margin-left: 4px;
    }
  }
}