//node.scss
.fruchterman-node {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid red;
    color:blue;
  }
  